canvas:
    build: .
    ports:
        - "3000:3000"
    expose:
        - "3000"
    links:
        - redis
        - pg

redis:
    image: redis
    expose:
        - "6379"

pg:
    build: ./postgres
    expose:
        - "5432"
    environment:
        - POSTGRES_PASSWORD=mysecretpassword
